workDir = 'gs://irademac-nextflow-batch'

process {
  executor = 'google-batch'
  container = 'ubuntu:22.04'
  errorStrategy = {
    // retry if spot instance was reclaimed
    task.exitStatus == 14 ? 'retry' : 'terminate'
  }
  maxRetries = 5
}

google {
  project = 'broad-ctsa'
  batch.spot = true
}
